<% provide(:content, @current_user.username) %>

<div class="row">

  <section class="user_info">
    <h1>
      Welcome <%= @current_user.username.capitalize %>,</br>
      You are following <%= pluralize @current_user.follow_count, "people" %> </h1>
  </section>
</div>

<div class="row">

  <div class="col-md-3">
  </div>


  <div class="col-md-6">
    <h3> Recent Posts </h3>
    <% @tweets.each do |tweet| %>
      <div class="panel panel-default">
      <div class="panel-body">
        <h5><strong><%= tweet.content %></strong></h5>
        <br>
        <em>Posted by: <%= tweet.user.username %></em>
        <br>
        Posted: <%= distance_of_time_in_words_to_now tweet.created_at %>
        <br>
      </div>
      </div>
    <% end %>
    <br clear="all"/>
    <div class:"btn">
      <%= paginate @tweets %>
    </div>
  </div>


  <div class="col-md-3 left">
    <h3 style="text-align:center">Following:</h3>
      <ul class="list-group">
        <% @current_user.all_following.each do |user| %>
          <li class="list-group-item">
          <%= link_to "#{user.username}", unfollow_path(id: user.id) %>
          </li>
        <%end%>
      </ul>

    <h3 style="text-align:center">Other People:</h3>
      <ul class="list-group">
        <% @users.each do |user| %>
          <li class="list-group-item">
           <%= link_to "#{user.username}", follow_path(id: user.id) %>
          </li>
       <%end%>
     </ul>
  </div>

</div>
